@font-face {
	font-family: "Gilroy Light";
	src: url("fonts/Gilroy-Light.otf") format("opentype");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy Bold";
	src: url("fonts/Gilroy-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans";
	src: url("fonts/ProductSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans Bold";
	src: url("fonts/ProductSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

input {
	-webkit-appearance: none !important;
}

input[type="text"] {
	-webkit-border-radius: 0;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container {
	font-family: "Gilroy Light", sans-serif;
}

.nav-contents {
	width: 80%;
	margin: 0 auto;
	display: block;
	line-height: 25px;
}

.nav-contents .logo {
	float: left;
	font-size: 1.5em;
	font-family: "Staatliches", cursive;
	margin-top: 2.4vh;
	z-index: 2;
	cursor: pointer;
	width: 300px;
}

.nav-contents .logo img {
	width: 80%;
	height: auto;
	margin-left: -5vw;
}

.nav-contents .links {
	float: right;
	font-family: "Product Sans", sans-serif;
	display: flex;
	font-size: 0.9em;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	color: #282c34;
	font-weight: bold;
	text-transform: uppercase;
}

.links p {
	margin: 4vh 1.3vw;
}

.clear {
	clear: both;
}

#last-link {
	background: #edf0fe;
	padding: 1vh 2vw;
	margin-right: 2.3vw;
	border-radius: 5px;
	color: #627df7;
}

.swal2-input {
	width: 400px !important;
	box-shadow: none !important;
	margin: 0.4rem !important;
	font-family: "Inter", sans-serif !important;
	resize: none !important;
}

.swal2-close {
	border: none !important;
	outline: none !important;
}

.swal2-close:hover {
	color: #282c34 !important;
}

.head-caption {
	font-family: "Gilroy Bold", sans-serif;
	/* font-family: "Staatliches", cursive; */
	/* text-transform: uppercase; */
	font-size: 3em;
	margin-top: 5vh;
}

.input-select {
	/* margin-top: -4vh; */
	width: 400px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.09);
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 95%;
	background-position-y: 50%;
	/* margin-right: 2rem; */
	/* padding: 1rem; */
	/* padding-right: 2rem; */
	border: none;
	outline: none;
	font-size: 1.1em;
	font-family: "Product Sans", sans-serif;
	padding: 2rem;
}

.input,
.input-submit {
	border: none;
	outline: none;
	font-size: 1.1em;
	font-family: "Product Sans", sans-serif;
	padding: 2rem;
	/* margin: 1rem; */
	/* border-radius: 5px; */
}

.input {
	background: #fff;
	box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.09);
}

.inner {
	/* margin-left: 1vw; */
	width: 400px;
	margin-top: 2vh;
}

.input-submit {
	background: #edf0fe;
	color: #627df7;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.09);
	cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.home-contents {
	padding-bottom: 1vh;
}

.landing-home {
	width: 80%;
	display: flex;
	margin: 15vh auto;
}

.right-home {
	flex: 1;
	width: 50%;
}

.right-home img {
	width: 100%;
}

.left-home {
	flex: 1;
	width: 50%;
	justify-content: flex-start;
}

.left-home h1 {
	text-align: left;
	margin-top: 5vh;
	font-family: "Product Sans Bold", sans-serif;
}

.fixed-height {
	padding-bottom: 0.8vh;
}

.left-home span {
	color: #627df7;
}

.custom-color-no-arrow {
	font-size: 1.2em !important;
	width: 40%;
	font-family: "Inter", sans-serif;
	text-align: justify;
	line-height: 30px;
	font-weight: 500;
	margin-top: -20px !important;
}

.zip-container {
	float: left;
	display: inline-block;
}

.get-started {
	display: inline-block;
	float: left;
	background: #edf0fe;
	color: #627df7;
	font-family: "Product Sans Bold", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0.1rem 2rem;
	border-radius: 10px;
	cursor: pointer;
}

.zip-form {
	margin-top: 5vh;
	display: none;
	opacity: 0;
	transition: all 0.3s ease;
}

.watch-video {
	margin-top: 13vh;
	font-size: 1.2em;
	color: #627df7;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-family: "Gilroy Bold", sans-serif;
}

.watch-video span {
	margin: 0.5rem;
}

.watch-video img {
	width: 35px;
	height: 35px;
}

.watch-video-container {
	display: inline-block;
	float: left;
	width: 180px;
}

.home-info {
	width: 2vw;
	margin-top: 3.8vh;
	display: inline-block;
	float: left !important;
}

.question-heading {
	font-family: "Gilroy Bold", sans-serif;
	font-size: 2em;
	margin-top: 5vh;
	font-weight: bold;
	margin-left: 1vw;
}

.question {
	font-family: "Gilroy Bold", sans-serif;
	font-size: 1.4em;
	margin-top: 5vh;
	font-weight: bold;
}

.dropdown-loader {
	font-family: "Gilroy Bold", sans-serif;
	margin: 1rem;
	font-size: 1.2em;
	color: #627df7;
	display: none;
}

#dealership-input {
	display: none;
}

.top-space {
	margin-top: 15vh;
}

.insurance-wrapper {
	display: flex;
	width: 52%;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.insurance {
	display: flex;
	font-family: "Inter", sans-serif;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem 3rem;
	margin: 1.5rem;
	width: 300px;
	/* border: 1px solid #627df7; */
	box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.09);
	height: 300px;
	cursor: pointer;
	border-radius: 5px;
}

.insurance_description {
	font-weight: normal !important;
}

.insurance p {
	margin: 0.5rem;
	/* color: #627df7; */
	font-weight: bold;
}

.savings-sticker {
	background: #627df7;
	color: #fff;
	font-weight: bold;
	font-family: "Gilroy Bold", sans-serif;
	padding: 0.5rem 1.5rem;
	border-radius: 8px;
	position: relative;
	top: -6.5vh;
}

.question-form {
	display: flex;
	display: none;
	opacity: 0;
	flex-direction: column;
	margin-top: 5vh;
	transition: all 0.3s ease;
}

.how-it-works {
	padding-bottom: 15vh;
	background: #fafafa;
	border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.how-it-works h1,
.faq h1,
.media-section h1,
.why-container h1 {
	font-family: "Gilroy Bold", sans-serif;
	margin-top: 5vh;
}

.faq h3 {
	font-family: "Gilroy Bold", sans-serif;
	text-align: left;
	margin-top: 7vh;
	font-size: 1.4em;
}

.how-it-works p,
.why-container p {
	font-family: "Inter", sans-serif;
	width: 60%;
	text-align: justify;
	display: block;
	margin: 5vh auto 0;
	font-size: 1.1em;
	line-height: 30px;
}

.why-container p {
	width: 65%;
	margin: 1vh auto;
}

.page {
	width: 82%;
	display: block;
	margin: auto;
}

.page-complete {
	width: 80%;
	display: block;
	margin: auto;
}

.question-container {
	text-align: left;
	margin: auto;
	margin-left: 1vw;
}

.questions {
	padding-bottom: 5vh;
	overflow: auto;
}

.question-p {
	display: inline-block;
}

.error-prompt-custom {
	background: #feeded;
	color: #f76262;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	padding: 0px 16px;
	/* width: auto; */
	margin: 1rem;
	display: inline-block;
	border-radius: 10px;
	font-size: 12px !important;
}

.RSPBprogressBar {
	margin: 13vh auto !important;
	width: 100%;
	border-radius: 100px !important;
	height: 30px !important;
	background: rgba(211, 211, 211, 0.2) !important;
}

.RSPBprogression {
	border-radius: 100px !important;
}

.sub {
	color: #95a5a6;
	font-size: 0.8em;
	margin-top: -1.5vh;
	font-style: italic;
}

.next-page,
.submit {
	background: #edf0fe;
	color: #627df7;
	font-family: "Product Sans Bold", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 2rem;
	width: auto;
	margin: 2vh 2vw 2vh auto;
	float: left;
	display: block;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: 1em;
	cursor: pointer;
}

.submit {
	font-size: 1.04em;
}

.admin-panel a {
	background: #edf0fe;
	color: #627df7;
	font-family: "Product Sans Bold", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 2rem;
	width: 300px;
	margin: 1rem auto;
	display: block;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: 1em;
	cursor: pointer;
	text-decoration: none;
}

.filter-container .close {
	margin-top: -3.5vh;
	margin-right: 0.3vw;
}

.admin-heading {
	font-family: "Gilroy Bold", sans-serif;
}

@keyframes ripple {
	0% {
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
	}
	50% {
		box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
	}
	100% {
		box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
	}
}
.md-radio {
	margin: 16px 0;
	font-family: "Inter", sans-serif;
}
.md-radio.md-radio-inline {
	display: inline-block;
}
.md-radio input[type="radio"] {
	/* display: none; */
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}
.md-radio input[type="radio"]:checked + label:before {
	border-color: #337ab7;
	animation: ripple 0.2s linear forwards;
}
.md-radio input[type="radio"]:checked + label:after {
	transform: scale(1);
}
.md-radio label {
	display: inline-block;
	min-height: 20px;
	position: relative;
	padding: 0 30px;
	margin-bottom: 0;
	cursor: pointer;
	vertical-align: bottom;
}
.md-radio label:before,
.md-radio label:after {
	position: absolute;
	content: "";
	border-radius: 50%;
	transition: all 0.3s ease;
	transition-property: transform, border-color;
}
.md-radio label:before {
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0, 0, 0, 0.54);
}
.md-radio label:after {
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	transform: scale(0);
	background: #627df7;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.form-input {
	border: none;
	outline: none;
	font-size: 1em;
	font-family: "Product Sans", sans-serif;
	padding: 1rem 1rem 1rem 0.2rem;
	width: 300px;
	border-bottom: 4px solid #edf0fe;
}

.form-input:focus {
	border-bottom: 4px solid #627df7;
}

.address-suggestions {
	width: 500px;
	box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.09);
	margin-top: 0.4vh;
}

.address-suggestion {
	font-family: "Inter", sans-serif;
	padding: 2vh 2vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	cursor: pointer;
}

.address-suggestion-active {
	background: #eee;
}

.success {
	text-align: center;
	font-family: "Gilroy Bold", sans-serif;
	font-weight: bold;
	display: inline-block;
	background: linear-gradient(to right, #56ccf2, #2f80ed);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.tick-icon {
	display: inline-block;
	margin: -0.45rem 0.5rem;
}

.success-msg {
	text-align: justify;
	display: block;
	margin: 2vh auto;
	width: 42%;
	color: #000;
	/* float: left; */
	font-family: "Inter", sans-serif;
	font-size: 1.2em;
}

.appointment-btns {
	margin-top: 3vh;
}

.post-form-options {
	display: flex;
	margin: auto;
	width: 80%;
}

.vertical-flex {
	flex-direction: column;
}

.post-child {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-half-child {
	display: flex;
	flex: 0.5;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.schedule-appointment {
	font-family: "Gilroy Bold", sans-serif;
}

.schedule-appointment p {
	font-size: 1.5em;
	font-weight: bold;
}

.schedule-appointment span {
	padding-top: 15vh;
}

.connect {
	background: #edf0fe;
	color: #627df7;
	font-family: "Product Sans Bold", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 2rem;
	width: 400px;
	margin: 3vh auto;
	display: block;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: 1em;
	cursor: pointer;
}

.refer-friend {
	background: #edf0fe;
	color: #627df7;
	font-family: "Product Sans Bold", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 2rem;
	width: 200px;
	margin: 3vh auto;
	display: none;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: 1em;
	cursor: pointer;
}

.close-modal-btn {
	position: absolute;
	top: 2vh;
	right: 1vw;
	cursor: pointer;
}

.close-modal-btn img {
	width: 30px;
	height: 30px;
}

.phone-box {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}

.phone-box img {
	width: 30px;
	height: 30px;
}

.responsive-phone {
	float: left;
	display: none;
	margin: 0.1vh auto;
}

.responsive-links {
	margin-top: 5vh;
	font-size: 1em;
	font-family: "Product Sans", sans-serif;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	color: #282c34;
	font-weight: bold;
	display: none;
	text-transform: uppercase;
}

.responsive-links p {
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	padding-bottom: 1rem;
}

.display-nav {
	display: block !important;
}

#nav-icon1 {
	width: 33px;
	z-index: 2;
	position: absolute;
	top: 4vh;
	display: none;
	/* margin: 50px auto; */
	right: 10vw;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#nav-icon1 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #282c34;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
	top: 0px;
}

#nav-icon1 span:nth-child(2) {
	top: 8px;
}

#nav-icon1 span:nth-child(3) {
	top: 16px;
}

#nav-icon1.open span:nth-child(1) {
	top: 12px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#nav-icon1.open span:nth-child(3) {
	top: 12px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.vehicle-unit {
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	padding-bottom: 10vh;
}

.vehicle-heading {
	display: inline-block;
	float: left;
	margin-left: 1vw;
}

.vehicle-heading p {
	font-family: "Gilroy Bold", sans-serif;
	font-size: 1.6em;
	margin-top: 5vh;
	font-weight: bold;
	display: inline-block;
}

.delete-vehicle {
	background: #feeded;
	color: #f76262;
	font-family: "Product Sans Bold", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0.7rem 1.5rem;
	width: auto;
	margin: auto 1rem;
	/* float: left; */
	display: inline-block;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: 0.8em;
	cursor: pointer;
}

.referral {
	margin-top: 5vh;
}

.referral p {
	font-family: "Gilroy Bold", sans-serif;
	font-size: 1.2em;
	width: 42%;
	text-align: justify;
	display: block;
	margin: 4vh auto;
}

.referral button {
	margin: 1rem;
}

pre {
	font-family: "Inter", sans-serif;
	font-size: 1em;
	color: #282c34;
}

.working-blocks {
	display: inline-block;
	width: 90%;
	margin-top: -5vh;
}

.block {
	height: 320px;
	width: 320px;
	margin: 1rem;
	display: inline-block !important;
	border-radius: 10px;
	/* display: block; */
	/* box-shadow: 0 2px 18px 7px hsla(0, 0%, 74.1%, 0.21); */
}

.block svg {
	margin-top: 6.5vh;
	border: 2px dashed #0097ff;
	padding: 2rem;
	border-radius: 50%;
}

.block h3 {
	font-family: "Inter", sans-serif;
	font-weight: bold;
}

.block p {
	font-family: "Inter", sans-serif;
	text-align: center;
	width: 80%;
	margin: 2vh auto;
	display: block;
	font-size: 1.1em;
}

#height-extra {
	position: relative;
	top: 3.5vh;
}

.subscribe-section {
	background: #282c34;
	/* height: 280px; */
	padding-bottom: 11vh;
	width: 100%;
}

.subscribe-section p {
	color: #edf0fe;
	font-family: "Gilroy Bold", sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	width: 70%;
	display: block;
	margin: 5vh auto;
}

.subscribe-input {
	background: none;
	border: 1px solid #edf0fe;
	padding: 1rem;
	width: 300px;
	font-size: 1.1em;
	font-family: "Inter", sans-serif;
	color: #edf0fe;
	border-radius: 10px;
	outline: none;
}

.subscribe-input::placeholder {
	color: #edf0fe;
	opacity: 0.4;
}

.subscribe-submit {
	background: #edf0fe;
	/* border: 1px solid #edf0fe; */
	border: none;
	cursor: pointer;
	padding: 1rem;
	/* width: 300px; */
	margin: auto 1rem;
	font-size: 1.1em;
	font-family: "Inter", sans-serif;
	color: #282c34;
	border-radius: 10px;
	outline: none;
}

.faq {
	padding-bottom: 15vh;
	background: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.faq-container {
	width: 80%;
	display: block;
	margin: auto;
	text-align: left;
	font-family: "Inter", sans-serif;
}

.accordion-head {
	background: #fff !important;
	box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.06) !important;
	color: #282c34 !important;
	border: 1px solid rgba(0, 0, 0, 0.04) !important;
	font-size: 1em;
	font-weight: bold;
	font-family: "Inter", sans-serif;
	margin-top: 0.5rem;
	border-radius: 5px;
}

.panel-accordion {
	background: #fff !important;
	box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.06) !important;
	border: 1px solid rgba(0, 0, 0, 0.04) !important;
	color: #282c34 !important;
	line-height: 30px;
	font-size: 1em;
	border-radius: 5px;
}

.close-faq {
	float: right;
	margin-right: 0.2vw;
}

.close-faq img {
	width: 15px;
	height: 15px;
}

.media-container {
	background: #fafafa;
	border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.media-section {
	padding-bottom: 10vh;
	margin: auto;
	max-width: 80%;
}

.media-block {
	padding-bottom: 1vh;
	margin: 1rem;
}

.media-block h1 {
	text-align: left;
	font-size: 1.4em;
}

.media-block p {
	font-family: "Inter", sans-serif;
	text-align: justify;
	color: #282c34;
	font-size: 0.9em;
	line-height: 25px;
}

.media-block a {
	text-decoration: none;
	font-family: "Inter", sans-serif;
	color: #627df7;
	font-weight: bold;
	float: left;
	font-size: 0.9em;
}

.media-source {
	font-family: "Inter", sans-serif;
	text-align: left;
	font-size: 0.9em !important;
	font-style: italic;
	margin-top: -0.1vh;
	font-weight: bold;
}

.media-source::first-letter {
	text-transform: uppercase;
}

#media-img {
	width: 100%;
	height: 200px;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.13);
}

.dvxQVR {
	font-size: 2em;
	font-weight: bold;
	font-family: "Gilroy Bold", sans-serif;
}

.admin-login h1 {
	font-family: "Gilroy Bold", sans-serif;
	margin: 20vh auto 5vh;
}

.filterable-table-container {
	width: 80%;
	display: block;
	margin: 10vh auto;
}

.filterable-table th {
	text-align: center !important;
}

footer {
	padding-bottom: 10vh;
}

.footer-contents {
	width: 85%;
	display: flex;
	flex-direction: row;
	margin: auto;
}

.footer-left,
.footer-right {
	flex: 1;
	width: 50%;
}

.footer-left {
	float: left;
}

.footer-logo {
	width: 300px;
	margin-top: 5vh;
}

.footer-logo img {
	width: 100%;
}

.footer-about {
	font-family: "Inter", sans-serif;
	font-size: 0.85em;
	text-align: justify;
	line-height: 22px;
	width: 71%;
	display: block;
	margin: 1vh 8vw;
}

footer p {
	font-family: "Inter", sans-serif;
	color: #282c34;
}

.footer-left h3 {
	font-family: "Inter", sans-serif;
	font-weight: normal;
}

.footer-zip {
	text-align: left;
	/* margin-left: 3vw; */
}

.footer-email-custom {
	margin-left: 0.4vw;
	top: -0.9vh !important;
}

.footer-location-custom {
	margin-left: 0.3vw;
	top: -0.7vh !important;
}

.zip-input {
	background: none;
	border: 1px solid #282c34;
	padding: 1rem;
	width: 300px;
	font-size: 1.1em;
	font-family: "Inter", sans-serif;
	color: #282c34;
	outline: none;
}

.zip-input::placeholder {
	color: #282c34;
	opacity: 0.7;
}

.zip-submit {
	background: #282c34;
	/* border: 1px solid #edf0fe; */
	border: none;
	cursor: pointer;
	padding: 1rem;
	/* width: 300px; */
	margin: auto 1rem;
	font-size: 1.1em;
	font-family: "Inter", sans-serif;
	color: #fff;
	/* border-radius: 10px; */
	outline: none;
}

.footer-mail {
	margin-top: 2vh;
}

.footer-phone-container {
	text-align: left;
	/* margin-left: 3vw; */
}

.footer-phone {
	margin-top: 6vh;
}

.footer-phone-container p {
	font-family: "Inter", sans-serif;
	display: inline-block;
	position: relative;
	top: -1vh;
	margin-top: 0;
	font-weight: 600;
	cursor: pointer;
}

.footer-phone-container img {
	width: 25px;
	height: 25px;
}

.footer-right {
	float: right;
	display: flex;
}

.footer-right h1 {
	font-family: "Gilroy Bold", sans-serif;
	font-size: 1.6em;
	margin-top: 8vh;
}

.footer-right-sec1,
.footer-right-sec2 {
	width: 50%;
	text-align: left;
}

.footer-right-sec1 p {
	cursor: pointer;
	width: 180px;
}

.soc {
	display: flex;
	align-items: center;
	margin-top: -1.5vh;
	cursor: pointer;
	width: 125px;
}

.soc img {
	width: 30px;
	height: 30px;
}

.soc p {
	margin-left: 0.4vw;
}

.why-container {
	border-top: 1px solid rgba(0, 0, 0, 0.04);
	padding-bottom: 15vh;
}

.why-table {
	display: inline-block;
	margin: auto;
	width: 65%;
	border-collapse: collapse;
	margin-top: 3vh;
}

.why-table th,
.why-table td {
	padding: 1rem;
	border: 1px solid rgba(40, 44, 52, 0.05);
}

.why-table {
	box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.09);
	overflow-x: auto;
}

.why-table th {
	font-family: "Gilroy Bold", sans-serif;
	font-size: 1.4em;
}

.why-table td h3 {
	font-family: "Gilroy Bold", sans-serif;
	width: 95%;
	text-align: left;
	display: block;
	margin: 1vh auto;
}

.why-table td p {
	font-family: "Inter", sans-serif;
	width: 95%;
	text-align: left;
	display: block;
	margin: 0.1vh auto;
}

.why-table-tick {
	margin: auto 3rem;
}

.why-table-cross {
	margin: auto 2.4rem;
}

.feature-text {
	background: #eee;
}

.partners-section {
	background: #282c34;
	padding-bottom: 5vh;
	max-width: 100%;
}

.partners-section p {
	width: 80%;
	font-family: "Gilroy Bold", sans-serif;
	color: #edf0fe;
	font-size: 1.3em;
	margin: 2vh auto;
}

.partners-carousel {
	max-width: 95%;
	margin: -5vh auto auto;
}

.partner-logo img {
	width: 80%;
	height: auto;
	margin-top: 6vh;
}

.partners-right-arrow {
	margin-right: -1vw;
	margin-top: 5vh;
}

.partners-left-arrow {
	margin-left: -1vw;
	margin-top: 5vh;
}

.MuiFormControl-root {
	min-width: 100% !important;
}

.MuiInputBase-input {
	min-width: 100% !important;
}

.cancel-policy h1 {
	font-family: "Gilroy Bold", sans-serif;
	margin-top: 5vh;
}

.cancel-policy form {
	display: block;
}

.cancel-policy .input,
.cancel-policy .input-select,
.cancel-policy .input-submit {
	margin: 1rem auto;
	display: block;
	width: 400px;
}

.cancel-policy label {
	/* font-weight: bold; */
	display: block;
	font-family: "Inter", sans-serif;
	margin: 3rem auto 0 !important;
	font-size: 1.3em;
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.links {
		display: none !important;
	}

	#nav-icon1 {
		display: inline-block;
	}

	.landing-home {
		flex-direction: column-reverse;
		width: 100%;
		justify-content: center;
		align-items: center;
		margin: 2.5vh auto;
	}

	.right-home,
	.left-home {
		width: 90%;
	}

	.right-home img {
		width: 90%;
	}

	.left-home h1 {
		text-align: center;
		width: 85%;
		font-size: 1.45em;
		margin: 1vh auto;
	}

	.fixed-height {
		padding-bottom: 1vh;
	}

	.zip-container .input,
	.zip-container .input-submit {
		font-size: 1em;
		padding: 1.5rem;
	}

	.insurance-wrapper {
		flex-direction: column;
		width: 90%;
	}

	.insurance {
		margin: 0.5rem;
	}

	.nav {
		padding-bottom: 1vh;
	}

	.how-it-works {
		/* height: 175vh !important; */
		padding-bottom: 10vh;
	}

	.md-radio input[type="radio"] {
		display: none;
	}

	.input-submit {
		margin: 1rem;
	}

	.input,
	.input-submit {
		width: 300px;
	}

	.nav-contents .responsive-phone {
		display: inline-block;
	}

	.nav-contents .logo img {
		width: 50%;
	}

	.nav-contents .logo {
		float: none;
		display: block;
		margin: auto;
		/* margin-left: -1vw; */
		margin-top: 2.5vh;
	}

	.left-home {
		/* display: flex; */
		justify-content: center;
	}

	.watch-video {
		margin-top: 23vh !important;
		margin-left: 25%;
	}

	.modal-video-body {
		width: 98% !important;
	}

	.modal-video-close-btn {
		right: -5px !important;
	}

	.how-it-works p,
	.why-container p {
		width: 90%;
	}

	.why-table {
		width: 90%;
	}

	.media-wrapper {
		max-width: 90%;
		margin: auto;
	}

	.media-source {
		margin-top: 10px;
	}

	.footer-contents {
		flex-direction: column;
	}

	.footer-left,
	.footer-right {
		width: 100%;
	}

	.footer-about {
		width: 90%;
		margin: 2vh auto;
	}

	.zip-input {
		width: 150px;
	}

	.footer-email-custom {
		margin-left: 1.6vw;
		top: -0.8vh !important;
	}

	.footer-location-custom {
		margin-left: 7vw;
		top: -3vh !important;
	}

	.faq-container {
		width: 90%;
	}

	.accordion-head span {
		display: inline-block !important;
		width: 80% !important;
	}

	.faq-arrow {
		display: inline-block !important;
		margin-top: 1.5vh !important;
	}

	.insurance-wrapper {
		margin-top: 5vh;
	}

	.input-select {
		width: 300px;
	}

	.page-complete {
		width: 90%;
	}

	.tick-icon {
		width: 70px;
		height: 70px;
		margin-top: 5vh;
	}

	.success-msg {
		width: 90%;
		text-align: center;
	}

	.post-form-options {
		width: 90%;
	}

	.connect {
		width: 300px;
	}

	.referral p {
		width: 90%;
	}

	.swal2-input {
		width: 90% !important;
	}

	.subscribe-input {
		width: 250px;
	}

	.working-blocks {
		margin-top: -1vh;
	}

	#height-extra {
		top: 0;
	}

	.why-table-tick,
	.why-table-cross {
		margin: 1rem;
	}

	.feature-text h3,
	.feature-text p {
		margin: 1vh 20vw 1vh 3vw !important;
	}

	.page {
		width: 90%;
	}

	.question,
	.input,
	.question-options {
		margin-left: 1vw;
	}

	.question-heading {
		margin-left: 2vw;
	}

	.vehicle-heading {
		margin-left: 3vw;
	}

	.partners-section p {
		font-size: 1.2em;
	}

	.partners-carousel {
		/* margin-top: -5vh; */
	}

	.partner-logo img {
		width: 90%;
	}
}

@media only screen and (max-width: 400px) {
	.home-contents {
		padding-bottom: 5vh !important;
	}

	.fixed-height {
		/* height: 22vh; */
		padding-bottom: 1vh;
	}

	.left-home h1 {
		width: 95%;
	}

	.how-it-works {
		/* height: 215vh !important; */
		padding-bottom: 10vh;
	}

	.referral p {
		text-align: center;
	}
	.how-it-works h1,
	.faq h1,
	.media-section h1,
	.why-container h1 {
		font-size: 1.9em;
	}

	.block {
		margin: 1rem auto;
	}
}

@media only screen and (max-height: 750px) {
	.savings-sticker {
		top: -7.4vh;
	}

	.fixed-height {
		/* height: 25vh; */
		padding-bottom: 1vh;
	}

	.watch-video {
		margin-top: 28vh;
	}

	.how-it-works {
		/* height: 217vh; */
		padding-bottom: 10vh;
	}
}

@media only screen and (max-height: 690px) {
	.fixed-height {
		/* height: 27vh; */
		padding-bottom: 1vh;
	}

	.home-contents {
		padding-bottom: 10vh !important;
	}

	.how-it-works {
		/* height: 235vh; */
		padding-bottom: 10vh;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) and (max-height: 800px) {
	.landing-home {
		margin: 10vh auto;
	}

	.fixed-height {
		/* height: 24vh; */
		padding-bottom: 1vh;
	}

	.input {
		width: 200px;
	}

	.insurance-wrapper {
		width: 70%;
	}

	.savings-sticker {
		top: -7vh;
	}

	.inner {
		width: 400px;
	}

	.success-msg {
		width: 50%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-height: 800px) {
	.fixed-height {
		/* height: 17vh; */
		padding-bottom: 1vh;
	}

	.savings-sticker {
		top: -4.5vh;
	}

	.success-msg {
		width: 40% !important;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
